*{

    margin: 0;

    padding: 0;
    box-sizing: border-box;

}

.cart-info{

    display: flex;
}

.cart{

    margin: 80px auto;
}


table{

    width: 100%;
}

td{

    padding: 20px;
}

th{

    color: #fff;

    background: #ff67f4;

    padding: 5px;

    text-align: left;
}
 td input{

    width: 40px;
    height: 30px;
 }


 td .cart-info img{

    width: 100px;

    aspect-ratio: 2/.9;
 }
